/GradeBook/nbproject/private/
/GradeBook/build/
/RestaurantMenu/nbproject/private/
/RestaurantMenu/build/
/FruitVendor/nbproject/private/
/SeedlingGrowthPrediction/nbproject/private/
/FruitVendor/build/
/SeedlingGrowthPrediction/build/
/CarRentalSystem/nbproject/private/
/LoginSystem/nbproject/private/
/LoginProgram/nbproject/private/
/LoginProgram/build/
/CarRentalSystem/build/
/ShapesAndObjects/nbproject/private/
/ShapesAndObjects/build/
/Student/nbproject/private/
